.container{
    margin: 0 14px;
}

.form{
    width: 100%;
    display: flex;
    gap: 24px;
}

.form input{
    width: 100%;
    height: 44px;
    border: 0;
    padding: 0 8px;
    border-radius: 4px;
    outline: none;
}

.form button{
    background-color: transparent;
}

table{
    border-collapse: separate;
    border-spacing: 0 10px;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

table caption{
    font-size: 16px;
    margin: 0.5rem 0.75rem;
}

th{
    justify-content: space-around;
    color:#fff;
}

.tr{
    width: 100%;
    background-color: #1d1c20;
}

td:first-child,
th:first-child {
    border-radius: 8px 0 0 8px;
}

td:last-child,
th:last-child {
    border-radius: 0 8px 8px 0;
}

table th, table td{
    text-align: center;
    padding: 14px;
}

.tdCoin{
    display: flex;
    gap: 8px;
}

.tdLabel{
    align-items: center;
    justify-items: center;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

.tdProfit{
    align-items: center;
    justify-items: center;
    color: #12f98a;
    font-weight: bold;
}

.tdLoss{
    align-items: center;
    justify-items: center;
    color: #f91257;
    font-weight: bold;
}

.buttonMore{
    border-radius: 8px;
    background-color: #30beff;
    color: #fff;
    padding: 8px 24px;
    margin: 14px 0;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.logo{
    width: 20px;
    height: 20px;
}

.logo:hover{
    transform: scale(1.5);
    transition: all 0.5s ease-in-out;
}

.name{
    display: flex;
    align-items: center;
    gap: 8px;
}

/* Mobile */

@media screen and (max-width: 600px) {
    .name img{
        margin-left: 14px;
    }

    table{
        border: 0;
    }

    .form{
       flex-direction: row;
    }

    .form button{
        border: 0;
        border-radius: 4px;
        color: #000;
        font-weight: bold;
        font-size: 16px;
    }

    table td{
        border-bottom: 1px solid rgba(221, 221, 221, 0.170);
        display: flex;
        text-align: right;
        font-size: 14px;
    }

    table td::before{
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table caption{
        font-size: 14px;
        margin: 0.25rem 0.5rem;
    }
    
    table thead{
        border: none;
        height: 1px;
        margin: -1px;
        overflow: hidden;
        position: absolute;
        width: 1px;
        padding: 0;
    }

    .tdLoss, .tdProfit{
        color: #fff;
    }

    .tdLoss span{
        color: #f91257;
        font-weight: bold;
    } 

    .tdProfit span{
        color: #12f98a;
        font-weight: bold;
    }

    .tdLabel, .tdProfit, .tdLoss{
        font-size: 14px;
        justify-content: space-between;
    }
    
    .tr{
        border-bottom: 1px solid #DDD;
        display: block;
        margin-bottom: 14px;
    }

    table td:last-child{
        border-radius: 0;
    }

    td:first-child,
    th:first-child {
        border-radius: 0;
    }

    td:last-child,
    th:last-child {
        border-radius: 0;
    }
}