* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  font-family: sans-serif;
  background-color: #18171c;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: 0;
  cursor: pointer;
}
